<!DOCTYPE html>
<html>
  <head>
    <style>
    
    
    
    
    h1 {
        color: rgb(0, 0, 102);
        
    }
    
    
    
    h2 {
        color: rgb(0, 0, 102);
        
    }
    
    
    img{
        width:450px;
        height:500px;
    }
    
    #Logo{
        width:450px;
        height:500px;
    }
      
    </style>
    <title>Thank You Page</title>
  </head>
  <body>
    <h1>Thank you for applying to Warren County Technical School!</h1>
    <h2>Your submission is know being reviewed</h2>
    <img src= "http://www.wctech.org/wcts/2017FrontPics/2017pic1.jpg"
    <form action=""></form>
     <a href = "http://www.wctech.org/wcts/"><img src= "http://www.wctech.org/wcts/images/2017logo.png" id = "Logo"></a>
    <h1>Click on the logo to get to the school's homepage</h1>
</html>
