body{
    /*background-color: #6589B7; #6589B7, 
    background: linear-gradient(#A8BCFA, #BACDFB, #CBDEFC,#DCEFFD);*/
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

h1{
 text-align: center;
 font-size: 32px;
}

th{
 text-align: right;
 /*width: 200px;*/
}

td, th{
 padding: 3px;
 border-width: 0px;
 border-style: solid;
}

table{
 border-width: 0px;
 border-color: #cccccc;
 border-style: solid;
 border-radius: 5px;
}

form{
    border-width: 0px;
    border-style: solid;
    /*width: 550px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    /*background-color: #eeeeee;*/
    border-radius: 0px;
    color: rgb(6,22,150);
    font-size: 18px;
}

input, select{
 font-size: 18px;
 border-radius: 5px;
}

label::before { 
    content: "\2694      ";
    color: rgb(6, 22, 150);
    font-size: 18px;
    font-weight: bolder;
}


.optional{
    color: Gray;
}

.optional label::before{
 content: "";
}

.Sword {
 color: rgb(6,22,150);
 font-size:24px;
 font-weight: bolder;
}

.content {
 width: 56.45%;
 float: left;
 padding: 10px;
 height: auto;
 border-width: 0px;
 border-style: solid;
 background-color:white;
}

.rectangle {
 width: 40%;
 float: left;
 padding: 10px;
 height: auto;
 border-width: 0px;
 border-style: solid;
 background-color:white;
}

.inner-rectangle {
 width: 30%px;
 padding: 10px;
 height: auto;
 background-color:#1e215a;
 border-radius: 15px;
 color: white;
 font-size: 24px;
}

.rectangle-2 {
 width: 98.2%;
 float: left;
 padding: 10px;
 height: 220px;
 border-width: 0px;
 border-style: solid;
 background-color:white;
}

.inner-rectangle-2 {
 width: 30%px;
 padding: 10px;
 height: 100px;
 background-color:#1e215a;
 border-radius: 15px;
 color: white;
 font-size: 24px;
}

.area, .exchange{
 width: 35px;
}

.last_four{
 width: 45px;
}

.section_header{
 color: #6589B7;
 font-size: 24px;
 text-transform: uppercase;
}

tr{
	height: 35px;
}

#header {
    background: linear-gradient(#030734, #080b3d, #0f0e48, #171553, #292271);
    width: 100%;
    padding: 0px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title_color {
    color: #ffffff;
    font-family:times;
}

#enter {
    position:relative;
    left:510px;
}

#id_middle_letter {
    width:15px;
}

#id_birth_date {
    width:38px;
}

#id_apartment_number {
    width:40px;
}

#id_zip_code {
    width:60px;
}

#id_student_home_phone {
    width:90px;
}

#id_parent_cell_1 {
    width:100px;
}

#id_parent_work_1 {
    width:100px;
}

#id_parent_cell_2 {
    width:100px;
}

#id_parent_work_2 {
    width:100px;
}

#id_parent_2_apartment_number {
    width:40px;
}

#id_parent_2_zip {
    width:40px;
}

#id_counselor_phone {
    width:90px;
}

#id_student_home_phone1 {
     width:25px;
}

#id_student_home_phone2 {
     width:25px;
}

#id_student_home_phone3 {
     width:35px;
}

.student_info_section {
  background-color:#f5f5f5;
  border-radius: 5px;
}

img.logo:hover{
    /*height:250px;*/
    filter: brightness(120%); 
}
img.logo:active{
    filter: brightness(110%); 
}



input[type=submit] {
    border: 2px solid black;
    color: black;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px 2px;
    background-color: #dddddd;
    visibility: hidden;
}

input[type=submit]:hover {
    border: 2px solid black;
    cursor: pointer;
    background-color: #404484;
    color: white;
}


input[type=submit]:active {
   background-color:#080a2d;
   color: white;
   border: 2px solid black;
}



input[type=text], input[type=email] {
    border: 1px solid black;
    border-radius: 4px;
    background-color:#e7e6f2;
    color: Black;
    
}  



input[type=text]:focus {
    background-color: #e7e6f2;
    border: 2px solid black;
    border-radius: 4px;
    
}

input[type=text]:hover, input[type=email]:hover{
    background-color: #ddd9f9;
    border: 2px solid black; 
    border-radius: 4px;
}

select, input[type=number]{
	/*width: 35%;*/
    color: white;
    padding: 5px 8px;
    border: 2px blue;
    border-radius: 3px;
    /*background-color: #5054a0;*/
    background-color: #333675;
}

select:hover, input[type=number]:hover{
	/*width: 40%;*/
	border: 3px;
	background-color: #6789b6;
	color: white;
}

li{
 padding: 13px;
 font-size: 28px;
}
a {
 color: white;
 text-decoration: none;
}

#find_out {
	font-family: Oswald;
	font-size: 35px;
	text-align: center;
}

#parent_two_div{
	display: none;
	background-color: green;
}

.hide_parent2{
	visibility: hidden;
}

















