<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>WCTS Application</h1>
		<form action="" method="post">
			<fieldset>
				<legend>Student Information</legend>
				<label for="first_name">First Name:</label><br>
				<input type="text" name="first_name"><br>
				<label for="last_name">Last Name:</label><br>
				<input type="text" name="last_name"><br>
				<label for="fav_color">Favorite Color:</label><br>
				<input type="color" name="fav_color"><br>
			</fieldset>
			<fieldset>
				<legend>Career Major Interests</legend>
				<label for="first_choice">First Choice:</label><br>
				<select name="first_choice">
					<option value="auto">Automotive Technology</option>
					<option value="build">Building Technology</option>
					<option value="tv">Cinematography and Video Production</option>
					<option value="comp" selected>Computer Programming</option>
					<option value="culinary">Culinary Arts and Hospitality</option>
					<option value="graphics">Graphic Arts and Printing Managment</option>
					<option value="business">Business Management</option>
					<option value="eng">General Engineering</option>
					<option value="cosmo">Cosmetology</option>
					<option value="electrical">Electrician</option>
					<option value="electronics">Electronics Technology</option>
					<option value="child">Child Development</option>
					<option value="law">Law and Public Safety</option>
					<option value="weld">Welding and Metal Fabrication</option>
					<option value="health">Health Science</option>
				</select><br>
				<label for="second_choice">Second Choice:</label><br>
				<select name="second_choice">
					<option value="auto">Automotive Technology</option>
					<option value="build">Buidling Technology</option>
					<option value="tv">Cinematography and Video Production</option>
					<option value="comp">Computer Programming</option>
					<option value="culinary">Culinary Arts and Hospitality</option>
					<option value="graphics">Graphic Arts and Printing Managment</option>
					<option value="business">Business Management</option>
					<option value="eng">General Engineering</option>
					<option value="cosmo">Cosmetology</option>
					<option value="electrical">Electrician</option>
					<option value="electronics">Electronics Technology</option>
					<option value="child">Child Development</option>
					<option value="law">Law and Public Safety</option>
					<option value="weld">Welding and Metal Fabrication</option>
					<option value="health">Health Science</option>
				</select><br>
				<label for="third_choice">Third Choice:</label><br>
				<select name="third_choice">
					<option value="auto">Automotive Technology</option>
					<option value="build">Buidling Technology</option>
					<option value="tv">Cinematography and Video Production</option>
					<option value="comp">Computer Programming</option>
					<option value="culinary">Culinary Arts and Hospitality</option>
					<option value="graphics">Graphic Arts and Printing Managment</option>
					<option value="business">Business Management</option>
					<option value="eng">General Engineering</option>
					<option value="cosmo">Cosmetology</option>
					<option value="electrical">Electrician</option>
					<option value="electronics">Electronics Technology</option>
					<option value="child">Child Development</option>
					<option value="law">Law and Public Safety</option>
					<option value="weld">Welding and Metal Fabrication</option>
					<option value="health">Health Science</option>
				</select><br>
			</fieldset>
		</form>
	</body>
</html>
