{% load static %}
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>WCTS Application</h1>
		<form action="" method="post">
			<fieldset>
				<legend>Student Information</legend>
				<label for="first_name">First Name:</label><br>
				<input type="text" name="first_name"><br>
				<label for="last_name">Last Name:</label><br>
				<input type="text" name="last_name"><br>
				<label for="fav_color">Favorite Color:</label><br>
				<input type="color" name="fav_color"><br>
			</fieldset>
			<fieldset>
				<legend>Career Major Interests</legend>
				<label for="first_choice">First Choice:</label><br>
				<select name="first_choice">
					{% for major in major_list %}
					<option value="auto">{{ major }}</option>
					{% endfor %}
				</select><br>
			</fieldset>
		</form>
	</body>
</html>
